body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.border {
  border-radius: 10px;
}
.img-border {
  border: 30px solid gainsboro;
  width: 100%;
}
/* c-shadow-size is my definition */
.c-shadow {
  -webkit-box-shadow: 3px 6px 23px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 23px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 23px -4px rgba(0, 0, 0, 0.75);
}
.card-body h5 {
  font-size: 15px;
}
ol li a {
  text-decoration: none;
  color: #fff;
}
.main-img {
  position: relative;
  z-index: -1;
}
.img-text {
  position: absolute;
  bottom: 50px;
  margin-left: 80px;
  color: white;
  font-size: 20px;
  z-index: 1;
}
.img1 {
  /* width: 100%;
      height: 30%; */
  margin-left: 0px;
}

/* .content {
    position: absolute;
    background-image: url(../123.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    opacity: 0.6;
    z-index: -1;
  } */

aside h6 {
  color: #fff;
  text-align: center;
  height: 35px;
}
.card-body h6,
p,
small {
  font-size: 12px;
}
/* c-text-size is my definition */
.c-text-size {
  font-size: 18px;
}
/* c-bg-color(number) and c-color(number) is my definition */
.c-bg-color1 {
  background-color: #01473e;
}
.c-bg-color2 {
  background-color: #005e53;
}
.c-bg-color3 {
  background-color: #007d6e;
}
.c-bg-color4 {
  background-color: #33978b;
}
.c-bg-color5 {
  background-color: #66b1a8;
}
c-bg-color6 {
  background-color: #99cbc5;
}
.c-bg-color7 {
  background-color: #cce5e2;
}
.c-bg-color8 {
  background-color: #e6f3f1;
}
.c-bg-color9 {
  background-color: white;
}
.c-bg-color10 {
  background-color: #b3b3b3;
}
.c-color1 {
  color: #01473e;
}
.c-color2 {
  color: #005e53;
}
.c-color3 {
  color: #007d6e;
}
.c-color4 {
  color: #33978b;
}
.c-color5 {
  color: #66b1a8;
}
.c-color6 {
  color: #99cbc5;
}
.c-color7 {
  color: #cce5e2;
}
.c-color8 {
  color: #e6f3f1;
}
.c-color9 {
  color: #fff;
}
.c-color10 {
  color: black;
}
